/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    margin-left: 24px;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Josefin Sans", sans-serif;
}

/* Navigation */
/* tell me more button */
.btn {
    color: #ffffff;
    font-weight: bold;
    background-color: yellow;
    max-width: 160px;
    padding: 16px;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-left: 248px;
}
.navigation {
    background-image: url("/images/1.jpg");
    min-height: 540px;
    max-width: 1075px;
    margin-left: 24px;
}
.navigation .menu {
    padding: 0;
    list-style-type: none;
    text-align: right;
}
.navigation .row {
    justify-content: center;
    margin-top: 80px;
    padding-left: 71px;
}
.navigation li {
  display: inline-block;
  padding-top: 36px;
  margin-right: 36px;
}
.navigation a {
    text-decoration: none;
    color: #ffffff;
}
.welcome-page {
    color: #ffffff;
}
/* welcome to.. */
.welcome-page h1 {
    font-weight: 100px;
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
}
/* it's nice */
.welcome-page h2 {
    margin: 24px 0;
    font-weight: 400px;
    font-size: 60px;
    text-align: center;
}

/* services */
.services {
    padding: 72px 0 118px 0;
}
.service-title h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}
.service-title p {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 100;
    opacity: 40%;
    font-style: italic;
}
.col-md-4 {
    text-align: center;
}
.col-md-4 p {
    opacity: 40%;
}
.col-md-4 h5 {
    font-size: 24px;
}

/* portfolio */
.portfolio {
    margin-bottom: 48px;
    background-color: lightblue;
}
.portfolio-list h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}
.portfolio-list p {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 100;
    opacity: 40%;
    font-style: italic;
}
.portfolio-list {
    text-align: center;
    padding-top: 72px;
}
.card-group {
    display: flex;
    justify-content: center;
}
.card {
    padding-right: 24px;
    margin-bottom: 48px;
}
.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.card-text {
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
}

/* footer */
.footer .row {
    justify-content: center;
    margin-bottom: 24px;
}
.footer i {
    color: black;
    font-size: 36px;
    margin-right: 10px;
}  
.footer .col-9 {
    display: inline-flex;
    padding-top: 10px;
}
.footer .col-2 {
    margin-right: 24px;
}